<!DOCTYPE html>
<html ng-app="CalendarApp">
<head>
<meta charset='utf-8' />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link href='../fullcalendar.min.css' rel='stylesheet' />
<link href='../fullcalendar.print.min.css' rel='stylesheet' media='print' />
<script src='../lib/moment.min.js'></script>
<script src='../lib/jquery.min.js'></script>
<script src='../fullcalendar.min.js'></script>
<script src='../../calendar.js'></script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>
</head>
<body>
  <div id='wrapper' ng-controller='CalendarCtrl'>
    <div class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="searchQuery" id="search" placeholder="Enter User Email">
        <button class='btn bn-secondary' id="submitButton" type="button" ng-click="newSearch()">Load</button>
      </div>
    </div>
    <div id='calendar'></div>
  </div>

</body>
</html>
